%h1.text-center.mt-4
  Alpha Bloggers

%div.flickr_pagination
  = will_paginate @articles, container: false

%div.container
  - @users.each do |user|
    %div.row.justify-content-md-center
      %div.col-8.mt-4
        %div.card.text-center.shadow.mb-5.bg-white.rounded
          %div.card-header.font-italic
            = link_to user.username, user
          %div.card-body
            %h5.card-title
              = link_to gravatar_for(user, size: 150), user
            %p.card-text
              = pluralize(user.articles.count, 'article')
            = link_to 'View profile', user, class: "btn btn-outline-success"
            = link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-info"
          %div.card-footer.text-muted
            %small
              Joined
              = time_ago_in_words(user.created_at)
              ago

%div.flickr_pagination.mb-4
  = will_paginate @articles, container: false
