%h2.text-center.mt-4
  = @user.username
  's
%h3.text-center
  profile:

= gravatar_for @user, size: 200

- if logged_in? && @user == current_user
  %div.text-center.mt-4
    = link_to 'Edit your profile', edit_user_path(@user), class: "btn btn-outline-info"

%h3.text-center.mt-4
  Articles:

= will_paginate(@articles,
  class: 'container flickr_pagination text-center',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')

= render 'articles/article'

= will_paginate(@articles,
  class: 'container flickr_pagination text-center mb-4',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')
