%h3.text-center.mt-4
  Category:
%h2.text-center
  = @category.name

- if logged_in? && current_user.admin?
  %div.text-center.col-sm
    = link_to 'Edit category name', edit_category_path(@category), class: "btn btn-outline-info m-1"
    = link_to 'Destroy category', category_path(@category), class: "btn btn-outline-danger m-1",
    method: :delete, data: { confirm: "Are you sure?" }

%h3.text-center.mt-4
  Articles:

= will_paginate(@articles,
  class: 'container flickr_pagination text-center',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')

= render 'articles/article'

= will_paginate(@articles,
  class: 'container flickr_pagination text-center mb-4',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')
